@use "../presets" as *;
@use "../mixins" as *;

.integrations {
  background-color: $color-white;
  padding: 169px 0 200px;

}

.integrations__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations__title {
  font-weight: 600;
  font-size: 65px;
  line-height: 1.15;
  text-align: center;
  max-width: 795px;
  padding-bottom: 24px;
  margin: 0;

  @include lg-md {
    text-align: center;
    max-width: 650px;
    font-size: 50px;

  }

  @include md {
    text-align: center;
    max-width: 500px;
    font-size: 45px;

  }
}
.integrations__description {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  max-width: 540px;
  margin: 0;
  padding-bottom: 25px;
}

.integrations__img {
  padding-bottom: 35px;

    @include xl-min {
      width: 1023px;  
    }
    @include xl-lg {
      width: 1023px;  
    }
    @include lg-md {
      width: 80%;
    }
    @include md {
      width: 70%;
    }
  }

.btn {
  padding: 0 10px 0;
}
