@use "../presets" as * ;
@use "../mixins" as *;

.footer-categories {
  background-color: $color-light-gray;
}
.footer-categories__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, max-content));
  padding: 48px 0 0;
  border-bottom: solid 2px $color-primary;
  align-items: baseline;
  justify-content: center;

  @include xl {
    grid-template-columns: repeat(2, minmax(50px, max-content));
    justify-content: center;
  }

  @include lg {
    grid-template-columns: repeat(1, minmax(50px, max-content));
    justify-content: center;
    align-items: center;
  }
}
  
.categories-sport {
  display: flex;
  flex-direction: column;
  padding-right: 140px;

  @include lg {
    grid-template-columns: repeat(1, minmax(50px, max-content));
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25;
    margin: 0;
    padding-bottom: 30px;

    @include lg {
      text-align: center;
    }
  }
  &__img {
    max-width: 300px;
    padding-bottom: 30px;
  }
  &__logo {
    max-width: 80px;
    padding-bottom: 12px;

  }
  &__description {
    max-width: 290px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 15px;
    margin: 0;

    @include lg {
      text-align: center;
    }

  }
  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 95px;

    @include lg {
      text-align: center;
    }
  }
}

.categories-info {
  display: grid;
  gap: 34px;
  grid-template-columns: repeat(4, minmax(50px, max-content));


  @include ul {
    grid-template-columns: repeat(4, minmax(50px, max-content));
  }

  @include xl {
    grid-template-columns: repeat(2, minmax(50px, max-content));
    row-gap: 30px;
  }

  @include xl {
    grid-template-columns: repeat(2, minmax(50px, max-content));
    gap: 30px;
  
  }
}

.categories {
  min-width: 187px;

  @include lg {
    min-width: 150px;
  }
  @include md {
    min-width: 130px;
  }

  @include xs {
    min-width: 130px;
  }

  @include xx {
    min-width: 120px;
  }
}
.categories__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
}

.categories__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
}
.categories__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
  padding-left: 0;

  @include md {
    max-width: 135px;
  }
}
